
body{
  background-color: lightgreen;



}
h2, p{
font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
#generateRow {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   padding: 19px 38px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 22px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.change{
  background-color: peachpuff;
}
.delete{
  background-color:paleTurquoise 
}
